<h2 align="center">About Us</h2>
<div class="row">
    <div class="col-md-12">
        <p>Lavender Ridge memory care is an exclusive, licensed community providing specialized care for individuals with memory impairments including Alzheimer's disease. The specially designed, custom-built facility is comprised of: 28 private studio style rooms, an activity room, a dining room, a beauty/barber shop and other resident centered common areas. Lavender Ridge offers comfortable touches such as a front porch, which help our residents feel at home.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Our community is organized into 2 small homes and is specifically designed for those with compromised memory. Some specialized features include:</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div id="aboutList">
            <ul>
                <li>State of the Art Monitoring System</li>
                <li>Circular Hallways</li>
                <li>Soft Lighting</li>
                <li>Appropriate Textures, Patterns, and Color Schemes</li>
                <li>Memory Boxes</li>
                <li>Secure Outdoor Walking and Socialization Area</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="../img/n-ALZHEIMERS-large570.jpg" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>The owners/operators of Lavender Ridge have 56 years of combined experience in assisted living and long term care. Our staff is trained in the diminishing memory process and its management. We strive to improve the well being of your loved one with person-centered care. Our staff receives extensive training and instruction, frequent updates, and refresher courses. Lavender Ridge has the expertise to simplify and improve your loved one's life and will help you find the peace of mind you deserve.</p>
    </div>
</div>