<h2 align="center">Contact Us</h2>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div id="contactUsForm">
            <form class="form-horizontal" role="form" method="post" action="index.php">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="message" class="col-sm-2 control-label">Message</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="4" name="message"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2 col-xs-offset-10">
                        <input id="submit" name="submit" type="submit" value="Send" class="btn btn-default">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <! Will be used to display an alert to the user>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<h2 align="center">Location Managers</h2>
<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail" align="center">
            <img src="../img/employee1.jpg">
            <div class="caption">
                <h3>Betty Crocker</h3>
                <h4>Effingham Manager</h4>
                <p>
                    1103 North Maple<br />
                    Effingham, IL 62401<br />
                    <i class="fa fa-phone"></i> (217)342-4150
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail" align="center">
            <img src="../img/employee3.jpg">
            <div class="caption">
                <h3>Jim Jefferies</h3>
                <h4>Mt.Vernon Manager</h4>
                <p>
                   1400 South 34th Street<br />
                    Mt.Vernon, IL 62864<br />
                    <i class="fa fa-phone"></i> (618)242-4050
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail" align="center">
            <img src="../img/employee1.jpg">
            <div class="caption">
                <h3>Carrie Malone</h3>
                <h4>Jacksonville Manager</h4>
                <p>
                    1103 North Maple<br />
                    Jacksonville, IL 62650<br />
                    <i class="fa fa-phone"></i> (217)243-8550
                </p>
            </div>
        </div>
    </div>
</div>
