<div class="container">

    <div class="row">
        <div class="col-md-5">
            <h2 align="center">Welcome</h2>
            <p>Welcome to Lavender Ridge, located in Effingham, Jacksonville, and Mount Vernon Illinois. Lavender Ridge memory care is an exclusive, licensed community providing specialized care for individuals with memory impairments. Our specially designed, custom-built facility is comprised of two homes. Each home features 14 studio style rooms, an activity room, a dining room, and other resident centered common areas. Our community is environmentally friendly for those with compromised memory.</p>
        </div>
        <div class="col-md-7">
            <div class="thumbnail">
                <img src="../img/Southeast Denver Senior Living Activities.jpg" />
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="../img/o-ALZHEIMERS-facebook.jpg" />
            </div>
        </div>
        <div class="col-md-8">
            <h2 align="center">Professional Care</h2>
            <p>Our staff is well educated in the disease process and its management. We strive to improve the well being of your loved one with person-centered care. Our management and staff receive extensive training and instruction, frequent updates and refresher courses. Lavender Ridge has the expertise to simplify and improve your loved one's life while helping you find the peace of mind you deserve.</p>
        </div>
    </div>
</div>
