<h2 align="center">Amenities</h2>
<div class="row">
    <div class="col-md-12">
        <div id="amenitiesList">
            <ul>
                <li>All utilities paid (except telephone)</li>
                <li>Three daily meals</li>
                <li>Fire alarm and sprinkler system</li>
                <li>Independence and security</li>
                <li>Beauty and barber shop</li>
                <li>Chapel</li>
                <li>Peace of mind</li>
            </ul>
        </div>
    </div>
</div>
<h2 align="center">Services</h2>
<div class="row">
    <div class="col-md-12">
        <div id="servicesList">
            <ul>
                <li>Diversified activity programs that address physical, mental, social, creative, spiritual, emotional and sensory needs</li>
                <li>24 hour supervision by staff trained in memory care</li>
                <li>Health monitoring and assessments with personal plans of care</li>
                <li>Nurse on staff</li>
                <li>Monitored exits</li>
                <li>Secure outdoor patio and garden area</li>
                <li>Caregiver support group</li>
                <li>Medication management</li>
                <li>Nutritious meals and snacks</li>
                <li>Bathing assistance</li>
                <li>Dressing assistance</li>
                <li>Housekeeping</li>
                <li>Laundry and linen service</li>
                <li>Cable television</li>
                <li>Scheduled transportation</li>
                <li>Beauty/barber shop on-site</li>
                <li>Complete maintenance, including lawn care and snow removal</li>
                <li>Social and recreational activities</li>
            </ul>
        </div>
    </div>
</div>
<h2 align="center">Dining</h2>
<div class="row">
    <div class="col-md-12">
        <div id="diningInfo">
            <p>Lavender Ridge understands that as memory impairments progress the dining experience can become confusing and frustrating. We offer three home cooked meals and can accommodate most special diets. All of our meals are prepared on site by our experienced staff and served family style. We also encourage snacks and hydration throughout the day.</p>
            <div class="thumbnail">
                <img src="../img/huge-friendly-senior-living-dining.jpg" />
            </div>
            <p>The dining room overlooks the garden and patio area providing residents a home-like view while dining. The staff of Lavender Ridge dines with the residents at meal times to provide conversation, encouragement, and assistance with a non-threatening approach.</p>
            <p>Guests are encouraged to dine with their loved ones. There is a minimal charge of $5.00 per person. We ask that guests contact us 24 hours in advance so the staff can make proper accommodations.</p><br />
            <br />
        </div>
    </div>
</div>

